<!doctype html>
<html>
<head><meta charset="utf-8"><title>Job Results</title></head>
<body>
  <h1>Job Results</h1>
  <table border="1" cellpadding="6">
    <tr><th>Source</th><th>Title</th><th>Company</th><th>Location</th><th>Link</th><th>Description</th></tr>
    {% for j in jobs %}
    <tr>
      <td>{{j.source}}</td>
      <td>{{j.title}}</td>
      <td>{{j.company}}</td>
      <td>{{j.location}}</td>
      <td><a href="{{j.link}}" target="_blank">Apply</a></td>
      <td>{{j.description[:200]}}...</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
